<form method = "post" action = "~/Home/PushUsers">
    <label> Имя:</label><br/>
    <input type = "text" name="Name"/><br/>
    <label> Возраст:</label><br/>
    <input type = "text" name="Age"/><br/>
    <label> Дата рождения:</label><br/>
    <input type = "text" name="DateOfBirth"/><br/>
    <label> Адрес:</label><br/>
    <input type = "text" name="Adress"/><br/>
    <br/>
    <input type="submit" asp-action="PushUsers" name="button" value="выполнить запрос"/> 
  </div>
</form>